.main_header_div {
  height: inherit;
  width: inherit;
<<<<<<< HEAD
=======

>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
  .main_inside_div {
    height: inherit;
    width: inherit;
  }
}

.table_div {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
