.main_header_div {
  height: inherit;
  width: inherit; }
  .main_header_div .main_inside_div {
    height: inherit;
    width: inherit; }

.table_div {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }

.table_row_1 {
  display: table-row;
  height: 32%; }
  .table_row_1 .table_row_table {
    vertical-align: middle;
    display: table;
<<<<<<< HEAD
    height: inherit;
=======
    height: 100%;
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
    width: 100%; }
    .table_row_1 .table_row_table .table_table_cell_1 {
      text-align: center;
      display: table-cell;
      width: 13%; }
      .table_row_1 .table_row_table .table_table_cell_1 .table_contents_wrap_1 {
<<<<<<< HEAD
        height: 100%;
        display: block;
        padding: 0px 10px; }
        .table_row_1 .table_row_table .table_table_cell_1 .table_contents_wrap_1 span {
          display: inline-block;
          padding: 5px 0px; }
    .table_row_1 .table_row_table .table_table_cell_2 {
      text-align: center;
      display: table-cell;
      width: 17%; }
      .table_row_1 .table_row_table .table_table_cell_2 .table_contents_wrap_2 {
        height: 100%;
        display: block;
        padding: 0px 10px; }
        .table_row_1 .table_row_table .table_table_cell_2 .table_contents_wrap_2 span {
          display: inline-block;
          padding: 5px 0px; }
    .table_row_1 .table_row_table .table_table_cell_3 {
      text-align: left;
      display: table-cell; }
      .table_row_1 .table_row_table .table_table_cell_3 .table_contents_wrap_3 {
        height: 100%;
        display: block;
        padding: 0px auto; }
        .table_row_1 .table_row_table .table_table_cell_3 .table_contents_wrap_3 input#loginBtn {
=======
        display: block;
        padding: 0px auto; }
        .table_row_1 .table_row_table .table_table_cell_1 .table_contents_wrap_1 span {
          display: inline-block;
          padding: auto 0px; }
    .table_row_1 .table_row_table .table_table_cell_2 {
      display: table-cell;
      width: 17%; }
      .table_row_1 .table_row_table .table_table_cell_2 .table_contents_wrap_2 {
        display: block;
        padding: 0px auto; }
        .table_row_1 .table_row_table .table_table_cell_2 .table_contents_wrap_2 span {
          display: inline-block;
          padding: auto 0px; }
    .table_row_1 .table_row_table .table_table_cell_3 {
      text-align: right;
      display: table-cell; }
      .table_row_1 .table_row_table .table_table_cell_3 .table_contents_wrap_3 {
        display: block;
        padding: 0px auto; }
        .table_row_1 .table_row_table .table_table_cell_3 .table_contents_wrap_3 input {
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
          display: inline-block;
          padding: auto 0px; }

.table_row_2 {
  display: table-row; }
  .table_row_2 .table_row_table_2 {
    display: table;
    width: 100%;
    height: 100%; }
    .table_row_2 .table_row_table_2 .table_table_cell_header {
      vertical-align: bottom;
      text-align: center;
      display: table-cell;
      width: 30%; }
      .table_row_2 .table_row_table_2 .table_table_cell_header .header_image_wrap {
        padding: 0px auto; }
<<<<<<< HEAD
        .table_row_2 .table_row_table_2 .table_table_cell_header .header_image_wrap img#img_logo {
=======
        .table_row_2 .table_row_table_2 .table_table_cell_header .header_image_wrap #img_logo {
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
          width: 100px;
          height: 66px; }
    .table_row_2 .table_row_table_2 .table_table_cell_subject {
      vertical-align: middle;
      text-align: center;
      display: table-cell;
      width: 40%; }
      .table_row_2 .table_row_table_2 .table_table_cell_subject .header_subject_wrap {
        padding: auto 0px; }
<<<<<<< HEAD
        .table_row_2 .table_row_table_2 .table_table_cell_subject .header_subject_wrap span#subject {
=======
        .table_row_2 .table_row_table_2 .table_table_cell_subject .header_subject_wrap #subject {
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
          padding: 0px auto;
          font-size: 40px; }
    .table_row_2 .table_row_table_2 .table_table_cell_describ {
      vertical-align: bottom;
      display: table-cell;
      text-align: right; }
      .table_row_2 .table_row_table_2 .table_table_cell_describ .header_discrib_wrap {
        padding: 0px auto; }
<<<<<<< HEAD
        .table_row_2 .table_row_table_2 .table_table_cell_describ .header_discrib_wrap span#describ {
          padding: auto 0px; }

.nav_wrap {
  width: 100%;
  height: 100%; }
  .nav_wrap .nav_table_wrap {
    width: 100%;
    height: 100%;
    display: table; }
    .nav_wrap .nav_table_wrap .nav_table_cell_1 {
      display: table-cell;
      width: 30%; }
      .nav_wrap .nav_table_wrap .nav_table_cell_1 .nav_link_wrap_1 {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px 10px; }
    .nav_wrap .nav_table_wrap .nav_table_cell_2 {
      display: table-cell;
      width: 40%; }
      .nav_wrap .nav_table_wrap .nav_table_cell_2 .nav_link_wrap_2 {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px 10px; }
    .nav_wrap .nav_table_wrap .nav_table_cell_3 {
      display: table-cell; }
      .nav_wrap .nav_table_wrap .nav_table_cell_3 .nav_link_wrap_3 {
        width: 100%;
        height: 100%;
        padding: 0px 10px; }

nav {
  margin: 10px 0px;
  width: 100%;
  height: 25px; }

=======
        .table_row_2 .table_row_table_2 .table_table_cell_describ .header_discrib_wrap #describ {
          padding: auto 0px; }

>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
article {
  width: 100%;
  height: 100%;
  position: relative; }

header {
  margin-top: 8px;
  top: 0;
  position: relative;
  width: 100%;
<<<<<<< HEAD
  height: 100px; }

.border, nav, article, header {
=======
  height: 120px; }

.border, article, header {
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
  border: 1px solid black; }

div {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 14px; }

body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0px 48px;
  position: relative; }

/*# sourceMappingURL=main.css.map */
