.table_row_2 {
  display: table-row;

  .table_row_table_2 {
    display: table;
    width: 100%;
    height: 100%;

    .table_table_cell_header {
      vertical-align: bottom;
      text-align: center;
      display: table-cell;
      width: 30%;

      .header_image_wrap {
        padding: 0px auto;

        img#img_logo {
          width: 100px;
          height: 66px;
        }
      }
    }
    .table_table_cell_subject {
      vertical-align: middle;
      text-align: center;
      display: table-cell;
      width: 40%;

      .header_subject_wrap {
        padding: auto 0px;

        span#subject {
          padding: 0px auto;
          font-size: 40px;

        }
      }
    }
    .table_table_cell_describ {
      vertical-align: bottom;
      display: table-cell;
      text-align: right;

      .header_discrib_wrap {
        padding: 0px auto;

        span#describ{
          padding: auto 0px;
        }
      }
    }
  }
}
