  .table_row_1 {
    display: table-row;
    height: 32%;

    .table_row_table {
      vertical-align: middle;
      display: table;
<<<<<<< HEAD
      height: inherit;
=======
      height: 100%;
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
      width: 100%;

      .table_table_cell_1 {
        text-align: center;
        display: table-cell;
        width: 13%;

        .table_contents_wrap_1 {
<<<<<<< HEAD
          height: 100%;
          display: block;
          padding: 0px 10px;

          span {
            display: inline-block;
            padding: 5px 0px;
=======
          display: block;
          padding: 0px auto;

          span {
            display: inline-block;
            padding: auto 0px;
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
          }
        }
      }
      .table_table_cell_2 {
<<<<<<< HEAD
        text-align: center;
=======
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
        display: table-cell;
        width: 17%;

        .table_contents_wrap_2 {
<<<<<<< HEAD
          height: 100%;
          display: block;
          padding: 0px 10px;

          span {
            display: inline-block;
            padding: 5px 0px;
=======
          display: block;
          padding: 0px auto;

          span {
            display: inline-block;
            padding: auto 0px;
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
          }
        }
      }
      .table_table_cell_3 {
<<<<<<< HEAD
        text-align: left;
        display: table-cell;

        .table_contents_wrap_3 {
          height: 100%;
          display: block;
          padding: 0px auto;

          input#loginBtn {
=======
        text-align: right;
        display: table-cell;

        .table_contents_wrap_3 {
          display: block;
          padding: 0px auto;

          input {
>>>>>>> 88a91d30af32e2c73681f514850482cdcbee4370
            display: inline-block;
            padding: auto 0px;
          }
        }
      }
    }
  }
