  .table_row_1 {
    display: table-row;
    height: 32%;

    .table_row_table {
      vertical-align: middle;
      display: table;
      height: inherit;
      width: 100%;

      .table_table_cell_1 {
        text-align: center;
        display: table-cell;
        width: 13%;

        .table_contents_wrap_1 {
          height: 100%;
          display: block;
          padding: 0px 10px;

          span {
            display: inline-block;
            padding: 5px 0px;
          }
        }
      }
      .table_table_cell_2 {
        text-align: center;
        display: table-cell;
        width: 17%;

        .table_contents_wrap_2 {
          height: 100%;
          display: block;
          padding: 0px 10px;

          span {
            display: inline-block;
            padding: 5px 0px;
          }
        }
      }
      .table_table_cell_3 {
        text-align: left;
        display: table-cell;

        .table_contents_wrap_3 {
          height: 100%;
          display: block;
          padding: 0px auto;

          input#loginBtn {
            display: inline-block;
            padding: auto 0px;
          }
        }
      }
    }
  }
